<style>
  body {
    background-image: url(https://image.tmdb.org/t/p/w300/<%= @film.backdrop_path %>);
    background-position: center center;
    background-size: cover;
  }
</style>
<div class="page-header" style="padding: 9rem 0;">
  <div class="container">
    <div class="grid">
      <div class="col-xs-12">
        <div class="main-raised">
          <div class="grid">
            <div class="col-xs-12 col-md-4">
              <img src="https://image.tmdb.org/t/p/w1280/<%= @film.poster_path %>" alt="" />
            </div>
            <div class="col-xs-12 col-md-8">
              <h1><%= @film.title %></h1>
              <p><span><%= @film.release_date %></span><span><%= @film.runtime %></span></p>
              <% @film.genres.each do |g| %>
                <span class="badge badge-danger mb-3"><%= g.name %></span>
              <% end %>
              <p><%= @film.overview %></p>
            </div>
            <div class="col-xs-12">
              <% if @film.cast.count >= 1 %>
                <div class="grid">
                  <% @film.cast.first(6).each do |p, i| %>
                    <div class="col-xs-12 col-sm-4 col-md-2">
                      <%= link_to person_show_path(:person_id => p.id), 'data-turbolinks' => false do %>
                        <div class="cast-member">
                          <% if p.profile_path != nil %>
                            <div class="cast-profile">
                              <img src="https://image.tmdb.org/t/p/w500/<%= p.profile_path %>">
                            </div>
                          <% end %>
                          <div class="cast-body">
                            <h5 class='cast-name'><%= p.name %></h5>
                            <p class='cast-character'><%= p.character %></p>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="col-xs-12">
              <% if @film.reviews.count >= 1 %>
                <% @film.reviews.first(5).each do |p, i| %>
                  <div class="review">
                    <div class="review-body">
                      <h5 class='review-author'><%= p.author %></h5>
                      <p class='review-content'><%= p.content %></p>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <p class="empty-placeholder-text">No Reviews</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>